@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.textContainer {
    display: flex;
    flex-direction: column;
    color: white;
    height: 100%;
    flex: 0.35;
    justify-content: space-between;
    background: #0ba0c0;
    border-right: 5px solid #ACD957;

  }

  .activeContainer {
    display: flex;
    align-items: center;
    margin-bottom: 50%;
    padding-left: 16%;
  }

  .meeting__room{
    margin-top: 10%;
    background: #088099;
    display: flex;
    padding: 10px;
    padding-right: 0;
    border-radius: 10px 0px 0px 10px;
    font-size: 1.3rem;
    letter-spacing: 2px;
    font-weight: 200;
    border-bottom: 2px solid rgb(34,193,195);
  }


  .activeContainer > h2{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
  }

  .activeContainer > h2 > .activeItem{
    background: #0990AC;
    width: 100%;
    padding: 10px;
    margin-bottom: 5%;
    border-radius: 10px 0px 0px 10px;
    font-size: 1.3rem;
    border-bottom: 2px solid rgb(34,193,195);
  }

  .activeItem {
    display: flex;
    align-items: center;
  }

  .activeContainer img {
    padding-left: 10px;
  }

  .textContainer h1 {
    margin-bottom: 0px;
    padding-left: 5%;
  }

  @media (min-width: 320px) and (max-width: 1200px) {
    .textContainer {
      display: none;
    }
  }