@import '../../assets/styles/styles.scss';

.message__Container {
	@include flex(row, flex-end, unset);
	padding: 0 2%;
	margin-top: 3px;
}

.message__Box {
	border-radius: 20px;
	padding: 5px 20px;
	display: inline-block;
	max-width: 100%;
	color: white;
}

.message__Box__light{
	background: #F3F3F3;
}

.message__Box__dark{
	background: $darkest-grey;
}

.message__Text {
	width: 100%;
	letter-spacing: 0;
	float: left;
	font-size: 1.1em;
	word-wrap: break-word;

	img {
		vertical-align: middle;
	}
}

.sent__Text {
	@include flex(row, unset, center);
	font-family: Helvetica;
	color: $dark-grey;
	letter-spacing: 0.3px;
}

.sent__Time{
	@include flex(row, center, unset);
	color: $dark-grey;
	font-size: 10px;
}

.pl-10 {
	padding-left: 10px;
}

.pr-10 {
	padding-right: 10px;
}

.justify__start {
	justify-content: flex-start;
}

.justify__end {
	justify-content: flex-end;
}

.color__White {
	color: white;
}

.color__Dark {
	color: $darkest-grey;
}

.background__Blue {
	background: $primary-blue;
	background: linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(24,55,122,1)  220%);
}

.background__Blue_dark {
	background:$dark-primary-blue;
	background: linear-gradient(14deg, rgba(27,31,60,1) 0%, rgba(31,35,73,1) 35%, rgba(61,70,136,1) 100%);
}

.background__Light {
	background: #F3F3F3;
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

.bounceInUp {
	animation: bounceInUp 1.5s forwards;
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

 @keyframes bounceInUp {
	0% {
		 opacity: 0;
		 transform: translateY(50px);
	}
	60% {
		 opacity: 1;
		 transform: translateY(-30px);
	}
	80% {
		 transform: translateY(10px);
	}
	100% {
		 transform: translateY(0);
	}
}

@media screen and (max-width:425px){
	.message__Box > img{
		width: 200px;
	}
}
