.inputMenu{
	background: #E8E8E8;
}

.inputMenu__inner{
	background: #E8E8E8;
	box-shadow: inset -6px -4px 16px 0px rgba(192,192,192,0.42);
	display: flex;
	width: 100%;
	padding-top:10px;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;
}

.inputMenu__icon{
	font-size: 3rem !important;
	background-color: #088099;
	border-radius: 20px;
	padding: 10px;
	color: white;
	margin-right: 20px;
	cursor: pointer;
	border: 2px solid #ACD957;
}

.inputMenu__icon:hover{
	background-color: #0990AC;
}

.inputMenu__close{
	color:#0ba0c0;
	cursor: pointer;
}
