@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
  }

  #root {
    height: 100vh;
  }

  * {
    box-sizing: border-box;
  }

  .joinOuter_Containter{
    display: flex;
    height: 100vh;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../images/chat.jpg');
  }

  .joinInner_Container {
    width: 37%;
    background-color: #F5F5F5;
    padding: 5%;
    display: flex;
    border-radius: 9%;
    flex-direction: column;
    margin-left: 2%;
    border: 6px solid #57D9B2;
  }

  .joinInput {
    border-radius: 3px;
    padding: 15px 20px;
    width: 100%;
    border: 1px solid darkgray;
    font-family: 'Montserrat', sans-serif;
  }

  .heading {
    color: #165C93;
    font-size: 2.5em;
    padding-bottom: 10px;
    border-bottom: 2px solid #57D9B2;
    font-family: 'Montserrat', sans-serif;
  }

  .button {
      color: #fff !important;
      text-transform: uppercase;
      text-decoration: none;
      background: #ACD957;
      padding: 15px;
      border-radius: 5px;
      display: inline-block;
      border: none;
      font-size: 15px;
      letter-spacing: 2px;
      cursor: pointer;
      width: 100%;
      box-shadow:inset -5px -11px 16px -2px #6FAC49;
      font-family: 'Montserrat', sans-serif;
  }

  .button:hover{
    background: #6FAC49 ;
    box-shadow:inset -5px -11px 16px -2px #ACD957;

  }

  .mt-20 {
    margin-top: 20px;
  }

  .bubbles-top{
    display: flex;
    height: 50vh;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 100px;
    position: relative;
    bottom: 150px;
  }
  .bubbles-left{
    display: flex;
    margin-left: 20px;
    margin-top: 20%;
    height: 430px;
    flex-direction: column;
    justify-content: space-around;
  }

  .bubbles-bottom{
    height: 600px;
    display: flex;
    align-items: flex-end;
  }

  .bubbles-right{
    display: flex;
    position: relative;
    left: 400px;
    height: 600px;
    justify-content: space-between;
    flex-direction: column;
  }

  .blue-bubble{
    display: flex;
    height: 60px;
  }

  .green-bubble{
    display: flex;
    height: 50px;
    width: 50px;
  }

  .green-bubble-2{
    height: 40px;
    width: 40px;
  }


  @media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainer {
      height: 100%;
    }

    .joinInnerContainer {
      width: 90%;
    }


  }

  button:focus {
    outline: 0;
  }

  @keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }
}

.floating {
  animation-name: floating;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}

.delay{
  animation-duration: 3s;
}